## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.gz
*.fdb_latexmk
*.pyg
*.bbl
*.blg
*.brf

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

.DS_Store
